<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>¡El postal dondo podrá crear sus propios juegos!</p>
    <a href="/quizes/question">Comenzar a jugar</a>
  </body>
</html>
